- provide :title, 'Services'
- provide :body_class, 'service_page'
- provide :menu_item, '/services'

#title_panel
  %h1 Our Services

#service_teaser_container
  #service_teaser_container_inner

    - @services.each do |service|
      .service_teaser
        .service_teaser_inner
          %h1= service.name
          %p= service.teaser_body
          = link_to 'Learn More', service_path(service), {style: "background:#{service.color}"}
          = image_tag service.teaser_image