- provide :title, "#{@service.name} | Service"
- provide :body_class, 'service_page'
- provide :menu_item, '/services'

:sass
  #banner_container
    background-color: #{@service.color}

#banner_container
  #banner_container_inner
    %h1= @service.name
    .body_text_intro
      = raw @service.header

#navigation_control
  #navigation_control_inner
    - next_service = Service.find(@service.id+1>Service.maximum(:id) ? 1 : @service.id+1)
    - prev_service = Service.find(@service.id-1<Service.minimum(:id) ? Service.maximum(:id) : @service.id-1)
    = link_to "< #{prev_service.name}", service_path(prev_service)
    = link_to "#{next_service.name} >", service_path(next_service)





#service_panel
  #left_column
    #left_column_inner
      = raw @service.body
      = link_to 'call us on 01603 250015', 'tel:01603250015', style: "background: #{@service.color}"

  #right_column
    #right_column_inner
      %p Or leave us a message below
      = render 'enquiries/form'











#how_panel
  #how_panel_inner
    .how
      .image{style: "background-color: #{@service.color}"}
      .title Occupational Health Physicians
      .body These doctors specialise in the health of individuals in the workplace
    .how
      .image{style: "background-color: #{@service.color}"}
      .title Occupational Health Nurse Advisors
      .body Registered Specialist Community Public Health Nurse specialising in work related health
    .how
      .image{style: "background-color: #{@service.color}"}
      .title Face to face
      .body Consultations can be undertaken either at Unity’s Clinic or on site
    .how
      .image{style: "background-color: #{@service.color}"}
      .title SEQOHS
      .body Safe Effective Quality Occupational Health Service. Professionally accredited high quality services for businesses to manage the health of their employees

#why_choose_panel{style: "background: #{@service.color}"}
  #why_choose_panel_inner
    %h1 Why choose Unity
    %h2 protecting your most valuble assets
    %p We offer a 360⁰ Service encompassing Occupational Health Physicians, Occupational Health Nurse Advisors and Associate Professionals providing a comprehensive Occupational Health and Wellbeing Services. A bespoke tailored quality service at a time and place to sort your organisation.
