- provide :title, 'Services'
- provide :body_class, 'service_page'
- provide :menu_item, '/services'

#banner_container
  #banner_container_inner
    %h1 Returning to Work Health Assessment
    %h2 A return to work assessment involves a functional capacity evaluation of the individual to assess an individual's fitness to return to work
    %p At Unity we advise you and your employee on the best `return to work` strategy, based on the individual's work activities and environment. We can also advise you on how to safely adapt the workplace, in so far as is reasonably practicable, to accommodate an individual's safe return.

#navigation_control
  #navigation_control_inner
    = link_to '< Another Service', '#'
    = link_to 'Another Service >', '#'





#service_panel
  #left_column
    #left_column_inner
      %h1 Need a returning to work health assessment?
      %p At Unity we advise you and your employee on the best ‘return to work’ strategy, based on the individual’s work activities and environment.
      %p We can also advise you on how to safely adapt the workplace, in so far as is reasonably practicable, to accommodate an individual’s safe return.
      = link_to 'call us on 01603 250015', 'tel:01603250015'

  #right_column
    #right_column_inner
      %p Or leave us a message below
      = render 'enquiries/form'











#how_panel
  #how_panel_inner
    .how
      .image
      .title Face to Face
      .body Either your workers can come to our clinic to be assessed, or one of our highly trained physicians can come to you
    .how
      .image
      .title physician led
      .body Either your workers can come to our clinic to be assessed, or one of our highly trained physicians can come to you
    .how
      .image
      .title high quality clinic
      .body Either your workers can come to our clinic to be assessed, or one of our highly trained physicians can come to you
    .how
      .image
      .title something else
      .body Either your workers can come to our clinic to be assessed, or one of our highly trained physicians can come to you


#why_choose_panel
  #why_choose_panel_inner
    %h1 Why choose Unity
    %h2 protecting your most valuble assets
    %p At Unity we advise you and your employee on the best ‘return to work’ strategy, based on the individual’s work activities and environment. We can also advise you on how to safely adapt the workplace, in so far as is reasonably practicable, to accommodate an individual’s safe return.
    = link_to 'Read More', '#'
