- provide :title, 'Blogs'
- provide :body_class, 'blog_page'
- provide :menu_item, '/blogs'

#title_panel
  %h1 Latest from Unity

#blogs_container
  #blogs_container_inner
    .blog_teaser
      = image_tag 'blog_holder_3.png'
      .blog_teaser_content
        %h1 UNITY launches new thing and puts a news article about it
        .date January 2016
      = link_to '>', blog_path(1)
    .blog_teaser
      = image_tag 'blog_holder_3.png'
      .blog_teaser_content
        %h1 UNITY launches new thing and puts a news article about it
        .date January 2016
      = link_to '>', blog_path(1)
    .blog_teaser
      = image_tag 'blog_holder_3.png'
      .blog_teaser_content
        %h1 UNITY launches new thing and puts a news article about it
        .date January 2016
      = link_to '>', blog_path(1)
    .blog_teaser
      = image_tag 'blog_holder_3.png'
      .blog_teaser_content
        %h1 UNITY launches new thing and puts a news article about it
        .date January 2016
      = link_to '>', blog_path(1)
    .blog_teaser
      = image_tag 'blog_holder_3.png'
      .blog_teaser_content
        %h1 UNITY launches new thing and puts a news article about it
        .date January 2016
      = link_to '>', blog_path(1)
    .blog_teaser
      = image_tag 'blog_holder_3.png'
      .blog_teaser_content
        %h1 UNITY launches new thing and puts a news article about it
        .date January 2016
      = link_to '>', blog_path(1)

#navigation_control
  #navigation_control_inner
    = link_to '< Older', '#'