- provide :title, "#{@blog.name} | Blog"
- provide :body_class, 'blog_page'
- provide :menu_item, '/blogs'

#banner_container
  #banner_container_inner
    %h1= @blog.name
    %p= @blog.updated_at.strftime("%B %Y")

  :sass
    hi
      hi
  - if @blog.banner.path
    :sass
      #banner_container
        background-image: url("#{@blog.banner}")

#blog_body
  #blog_body_inner
    = raw @blog.body


#navigation_control
  #navigation_control_inner
    = link_to '< Last Post', '#'