- provide :title, @page.title
- provide :body_class, 'home_page'
- provide :menu_item, '/'


#banner_container
  #banner_container_inner
    #banner_content
      %h1 Physician Led Occupational Health and Wellbeing Services
      %p High quality and trustworthy health services helping businesses in norfolk and suffolk
      .action How we can help you

    #image_container
      = image_tag 'home_hero_bubble.png'
      = image_tag 'home_hero_background.png'


#service_overview_container
  #service_overview_container_inner
    %h1 occupational health and wellbeing services
    %p Your employees are one of your most valuable and yet most expensive assets. Here at Unity we work with you to safeguard this vital component of your business.
    %p The cost of work related ill health to your business can be significant and far reaching; in addition to sick pay, there is also the cost of temporary cove and extra supervision, as well as reduced productivity and potential legal and compensation claims.
    = link_to 'Read More', services_path


#service_teaser_container
  #service_teaser_container_inner
    - Service.all.each do |service|
      .service_teaser
        .service_teaser_inner
          %h1= service.name
          %p= service.teaser_body
          = link_to 'Learn More', service_path(service), {style: "background:#{service.color}"}
          = image_tag service.teaser_image

#blog_teasers_container
  #blog_teasers_container_inner
    .blog_teaser
      = image_tag 'blog_holder_3.png'
      .blog_teaser_content
        %h1 UNITY launches new thing and puts a news article about it
        .date January 2016
      = link_to '>', blog_path(1)
    .blog_teaser
      = image_tag 'blog_holder_2.png'
      .blog_teaser_content
        %h1 UNITY launches new thing and puts a news article about it
        .date January 2016
      = link_to '>', blog_path(1)
    .blog_teaser
      = image_tag 'blog_holder.png'
      .blog_teaser_content
        %h1 UNITY launches new thing and puts a news article about it
        .date January 2016
      = link_to '>', blog_path(1)