- provide :title, @page.title
- provide :body_class, 'home_page'
- provide :menu_item, '/'


#banner_container
  #banner_container_inner
    #banner_content
      %h1
        Occupational Health &
        %br
        Wellbeing Services
      %p
        360â° service encompassing -
        %br
        Occupational Health Physicians
        %br
        Occupational Health Nurse Advisors
        %br
        Associate Professionals
      //.action How we can help you

    #image_container
      = image_tag 'home_hero_bubble.png'
      = image_tag 'home_hero_background.png'


#service_overview_container
  #service_overview_container_inner
    %h1 how we can help you
    %p Your employees are one of your most valuable and yet most expensive assets. Here at Unity we work with you to safeguard this vital component of your business.
    %p The cost of work related ill health to your business can be significant and far reaching; in addition to sick pay, there is also the cost of temporary cover and extra supervision, as well as reduced productivity and potential legal and compensation claims.
    %p All your health surveillance requirements can be managed through a comprehensive system of on-going health checks. These health checks may be required by law for employees who are exposed to noise or vibration, ionising radiation, solvents, fumes, dusts, biological agents and other substances hazardous to health.
    = link_to 'Read More', services_path


= render 'common/service_teasers'

#blog_teasers_container
  #blog_teasers_container_inner
    - Blog.last(3).each do |blog|
      .blog_teaser
        = image_tag blog.banner
        .blog_teaser_content
          = link_to blog.name, blog
          - if blog.published_date
            .date= blog.published_date.strftime("%B %Y")
        = link_to '>', blog