- provide :title, @page.title
- provide :body_class, 'resource_page'
- provide :menu_item, '/resources'


#form_panel
  #left_column
    #left_column_inner
      %h1 Access your reports
      %h2 Sign in to retrieve reports

      %form
        .field
          %label Email
          = text_field_tag :email
        .field
          %label Password
          = password_field_tag :password
        .action
          = submit_tag 'Sign in'
  #right_column
    #right_column_inner
      %h1 Search for help
      %h2 We have many help files and resources to help you with your occupational needs
      .field
        %label Search
        = text_field_tag :search
      .action
        = submit_tag 'Search'

#navigation_control
  #navigation_control_inner
    = link_to '< Services', '#'
    = link_to 'Get in touch >', '#'