= form_for([:admin, @blog]) do |f|
  - form_fields.each do |name, field_type, field_name|
    .field
      = f.label field_name, name
      = f.send field_type, field_name
  #tag_container.field
    - Tag.all.each do |tag|
      .tag
        = check_box tag.name, :tag, id: "tag_#{tag.machine_name}", name: "tags[#{tag.name}]", checked: (tag.for_blog @blog)
        = label_tag "tag_#{tag.machine_name}", tag.name
    #add_tag
  .actions
    = f.submit 'Save'