#sidebar
  #logo= link_to image_tag('logo_icon.png'), root_path
  = link_to 'Dashboard', admin_root_path, class: (controller_name=='dashboard'? 'active' : '')
  = link_to 'Services', admin_services_path, class: (controller_name=='services'? 'active' : '')
  = link_to 'Blogs', admin_blogs_path, class: (controller_name=='blogs'? 'active' : '')
  = link_to 'Pages', admin_pages_path, class: (controller_name=='pages'? 'active' : '')
  = link_to 'Enquiries', admin_enquiries_path, class: (controller_name=='enquiries'? 'active' : '')
  = link_to 'Testimonials', admin_testimonials_path, class: (controller_name=='testimonials'? 'active' : '')
  .spacer
  = link_to 'Logout', '/logout', class: 'delete'