#footer_container
  #footer_container_inner
    #contact_info
      #contact_info_inner
        %span For more information or if you think we can help get in touch either by
        = succeed ',' do
          %span= link_to 'calling on 01603 250015', 'tel:01603250015'
        emailing
        = link_to 'mail@unityoccupationalhealth.com', 'mailto:mail@unityoccupationalhealth.com'
        or using our
        = link_to 'contact page', '/contact_us'
    #footer_logo_container
      = image_tag 'logo.png'
      = image_tag 'seqohs.png'
    #copyright 
      %span &copy; Copyright 2016,
      %span Unity Occupational Health and Wellbeing
