#footer_container
  = image_tag 'footer_people.png'
  #contact_info
    For more information or if you think we can help get in touch either by
    %br
    = link_to 'calling on 01603 250015', 'tel:01603250015'
    , emailing
    = link_to 'mail@unitymedicalservices.com', 'mailto:mail@unitymedicalservices.com'
    or using our
    = link_to 'contact page', '/contact_us'
  #footer_logo_container
    = image_tag 'logo.png'
    = image_tag 'seqohs.png'
  #copyright &copy; Copyright 2016, Unity Occupational Health and Wellbeing
