= form_for(Enquiry.new) do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :body, 'Message'
    = f.text_area :body
  .action
    = f.submit 'Send'
