!!!
%html
  %head
    %title= page_title yield(:title)
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %meta{:content => "width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
  %body{:class => yield(:body_class)}
    
    - if logged_in?
      = render 'common/admin_top_menu'

    = render 'common/header'
   
    = yield
    
    = render 'common/footer'